.oneDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    gap:12px;
    text-decoration: none;
    border-radius: 10px;
}
.oneDiv h3{
    margin: 0;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.oneDiv p{
    margin: 0;
    color: #aaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.thirdDiv{
    display: flex;

}
.miniDiv{
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.allTopics{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
}