.maindiv {
  margin-bottom: 2rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;



}

.sectionName h1{
 margin: 0;
  line-height: 1.2;
  font-size: 45px;
  color:var(--thm-black);
  text-align: center;
}
.sectionName p{
    font-size: 18px;
  font-weight: 500;
  color: var(--bs-gray);
  margin: 0;
  text-align: center;
}
.sectionName{
 display: flex;
 text-align: center;
 align-items: center;
 flex-direction: column;
 gap: 0.2rem;
}
.featureDiv{
 width: 80%;
 padding-top: 40px;
 padding-bottom: 71px;
 border-radius: 135px;
 border: none;
 box-shadow: 2px 2px 10px 30px var(--bs-gray-100);
 display: flex;
 flex-direction: column;
 align-items: center;
}

.featureDivDiv{
 width: 60%;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 gap:29px;
 
}
.featureDivicon{
   
  border-radius: 50%;
  object-fit: contain;
  width: 129px;
  height: 129px;
  background-color: var(--bs-gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
}    
.featureDiv h3{
    padding: 0;
    margin: 0;
    color: var(--thm-black);
    font-weight: 600;
    font-size: 20px;

}
.featureDiv p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--bs-gray-600);
}
