.section{
    background: url("/images/mainbgs/4.png") no-repeat center center;
background-size: cover;

}
.sectionName h1{
 margin: 0;
 line-height: 1.2;
  font-size: 45px;
  color:var(--thm-black);
  
}
.sectionName p{
 font-size: 18px;
  font-weight: 500;
  color: var(--bs-gray);
  margin: 0;
}
.sectionName{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.questionsContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  

}
.questionDiv{
      background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:1rem;
   border: 0.5px solid var(--bs-gray-200);
   padding: 15px 15px;
}
.questionDiv p{
    line-height: 1.4;
    font-size: 18px;
    font-weight: 500;
    color: var(--thm-black);
 
}
.icon{
    width: 15px;
    height: auto;

}
.answer{ margin-bottom: 1.5rem;
 font-size: 14px;
  font-weight: 500;
  color: var(--bs-gray);
  margin: 0;}
.minidiv{
    display: flex;
    align-items: center;


}
  
.minidivp{

    margin-right: auto;
}
@media(min-width:800px){
    .questionDiv{
        width: 700px;
    }
    .questionsContainer{
        display: flex;
        flex-direction: col;
        justify-content: center;
        align-items: center;
    }
}