.teamDiv{
 display: flex;
 flex-direction: column;
 

 
}
.teamCell{
    margin: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  gap:2rem;


}
.teamCell h3{
  color: var(--thm-black);
  font-weight: 600;
    margin-bottom:0;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
.teamCell p{
    margin-top:0;
}
.image{
 border-radius: 50%;
 height: auto;
 width: 50%;
}
.sectionName h1{
 margin: 0;
 line-height: 1.2;
  font-size: 45px;
  color:var(--thm-black);
}
.sectionName p{
 font-size: 18px;
  font-weight: 500;
  color: var(--bs-gray);
  margin: 0;
}
.holeTeam{
     gap:2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sectionName{
    gap:0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}