@import "tailwindcss";

 html{
 
 box-sizing: border-box ;
 scroll-behavior: smooth; 
 
 }
body{
  box-sizing:border-box;
  font-family: Quicksand;
  margin:0;
  line-height: var(--bs-body-line-height)  ;
  background-color: white;
  padding: 0;
  width: 100%;


}

:root{
   --bs-link-color:#0d6efd;
    --blue: #3763a5;
    --dark-blue: rgb(33, 62, 105);
    --cyan-light: #add8ff;
    --grey: #b0b0b0;
    --white: #ffffff;
    --light-grey: #f0f0f0;
    --input-border: rgba(0, 0, 0, .6);
    --error: #ff4757;
    --error-light: #ffc3c9;
    --success: #46c93a;
    --success-light: #c5edc1;
    --yellow-light: #faefae;
    --yellow: #e2c61e;
    --thm-font: "Quicksand", sans-serif;
    --thm-base: #213e69;
    --thm-base-rgb: 33, 62, 105;
    --thm-primary: #213e69;
    --thm-primary-rgb: 33, 62, 105;
    --thm-black: #252c4b;
    --thm-black-rgb: 37, 44, 75;
    
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}
section{
  padding-top: 7rem;
  box-sizing: border-box;
  width: 100%;
  padding-inline: 1rem;
 
 
}
main{
  width: 100%;
  box-sizing: border-box;
}
h1{
  margin: 0;
  font-weight: 700;
}