.nav{
  background-color: white;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width:100%;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
    z-index: 100;
    border-bottom:0.5px solid var(--bs-gray-300);
}
.logoImage{
    height:30px;
}

.NavRight{
    display: flex;
    gap:1rem;
    box-sizing: border-box;
}
.button{
    padding: 4px 14px;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid #252c4b; 
}
    

